<div>
  <div>id: {{car.id}}</div>
  <div>name: {{car.name}}</div>
  <div>surname: {{car.surname}}</div>
  <div>email: {{car.email}}</div>
  <div>phone: {{car.phone}}</div>
  <div>age: {{car.age}}</div>
  <div>course: {{car.course}}</div>
  <div>course_format: {{car.course_format}}</div>
  <div>course_type: {{car.course_type}}</div>
  <div>status: {{car.status}}</div>
  <div>sum: {{car.sum}}</div>
  <div>already_paid: {{car.already_paid}}</div>
  <div>group: {{car.group}}</div>
  <div>created_at: {{car.created_at}}</div>
  <div>manager: {{car.manager}}</div>
  <button mat-raised-button color="primary" (click)="edit()">Edit</button>
</div>
