<div>
  <div>id: {{student.id}}</div>
  <div>name: {{student.name}}</div>
  <div>surname: {{student.surname}}</div>
  <div>email: {{student.email}}</div>
  <div>phone: {{student.phone}}</div>
  <div>age: {{student.age}}</div>
  <div>course: {{student.course}}</div>
  <div>course_format: {{student.course_format}}</div>
  <div>course_type: {{student.course_type}}</div>
  <div>status: {{student.status}}</div>
  <div>sum: {{student.sum}}</div>
  <div>already_paid: {{student.already_paid}}</div>
  <div>group: {{student.group}}</div>
  <div>created_at: {{student.created_at}}</div>
  <div>manager: {{student.manager}}</div>
  <button mat-raised-button color="primary" (click)="edit()">Edit</button>
</div>
