
.card_body{
  background-color: aquamarine;
  border-style: dashed;
  border-width: 5px;
  border-color: yellowgreen;
  padding: 10px;
}

.actions{
  display: flex;
  justify-content: flex-start;
}
form{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 300px;
}

mat-card-content{
  padding: 25px;
}
